<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.7.0
    </div>
    <strong>Copyright &copy; 2017 <a href="#">青岛市高新区管委会</a>.</strong> All rights reserved.
</footer>
<div class="control-sidebar-bg"></div>

<script src="http://qingdao.gclasscn.com:3020/edu-static/js/plug-in/bootstrap/js/bootstrap.min.js"></script>
<script src="http://qingdao.gclasscn.com:3020/edu-static/js/plug-in/bootstrap/js/bootstrap-paginator.js"></script>
<script src="http://qingdao.gclasscn.com:3020/edu-static/js/plug-in/jquery-tmpl/jquery.tmpl.min.js"></script>
