<head>

	<link rel="shortcut icon" th:href="@{/images/public/icon.png}" type="image/x-icon" />
	<link rel="icon" th:href="@{/images/public/icon.png}" type="image/x-icon" />

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <title>教务管理平台</title>
    <link rel="stylesheet" href="http://qingdao.gclasscn.com:3020/edu-static/js/plug-in/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/js/plug-in/font-awesome/css/font-awesome.min.css}" />
    <link rel="stylesheet" href="http://qingdao.gclasscn.com:3020/edu-static/js/plug-in/dist/css/AdminLTE.css"/>
    <link rel="stylesheet" href="http://qingdao.gclasscn.com:3020/edu-static/js/plug-in/dist/css/skins/_all-skins.min.css"/>
    <link rel="stylesheet" href="http://qingdao.gclasscn.com:3020/edu-static/js/plug-in/my-form-prompt/css/form-prompt.css" />
    <link rel="stylesheet" href="http://qingdao.gclasscn.com:3020/edu-static/js/plug-in/layer/css/layer.css" />
    
    <!--[if lt IE 9]>
    <script src="http://qingdao.gclasscn.com:3020/edu-static/js/public/htmlshiv.min.js" ></script>
    <script src="http://qingdao.gclasscn.com:3020/edu-static/js/public/selectivizr.min.js" ></script>
    <![endif]-->
    <link rel="stylesheet" href="http://qingdao.gclasscn.com:3020/edu-static/css/public/public.css" />
	<!--[if IE 9]>-->
	<script src="http://qingdao.gclasscn.com:3020/edu-static/js/plug-in/jquery/jquery-1.11.0.js"></script>
	<!--<![endif]-->
	<script src="http://qingdao.gclasscn.com:3020/edu-static/js/plug-in/jquery/jquery-2.2.3.min.js"></script>
	<!-- <script th:src="@{/js/left.js}"></script> -->
</head>