<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" id="sidebar-menu">
            <li class="header">主导航</li>
            <li class="">
                <a href="/panel">
                    <i class="fa fa-home"></i>
                    <span>首页</span>
                </a>
            </li>
            <li class="">
                <a th:href="@{/parent}">
                    <i class="fa fa-cog"></i>
                    <span>家长信息</span>
                </a>
            </li>
        </ul>
    </section>
</aside>